<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="smtpEmail" value="mail.dominio.com.br" />
    <add key="emailOrigem" value="email@dominio.com.br" />
    <!--<add key="smtpEmail" value="mail.saocamilo-es.br" />
    <add key="emailOrigem" value="carlossulzer@saocamilo-es.br" />-->
  </appSettings>

  <connectionStrings>
		<add name="Seguranca" connectionString="Data Source=.\sqlexpress;Initial Catalog=Seguranca;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/>
		<!--BLOCO DE CÓDIGO ACRESCENTADO PARA SEGURANÇA-->
		<authentication mode="Forms">
			<forms name="SEGURANCA" loginUrl="Login.aspx" protection="All" path="/" timeout="30"/>
		</authentication>

    <authorization>
      <deny users="?"/>
    </authorization>
    
	</system.web>

  <!--Permissão para a pasta de imagens-->
  <location path="imagens">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>

